{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <!-- TITULO -->
    <h1 class="h3 mb-2 text-gray-800">Artistas</h1>
    <p class="mb-4">Você não tem permissão para alterar os artistas.</p>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Integrantes</th>
                        <th>Genero</th>
                        <th>Status</th>
                        <th>Data Inclusão</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Integrantes</th>
                        <th>Genero</th>
                        <th>Status</th>
                        <th>Data Inclusão</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for art in artistas %}
                    <tr>
                        <td><a href="{% url 'e-artistas' art.id %}">{{art.nome}}</a></td>
                        <td>{{art.integrantes}}</td>
                        <td>{{art.genero}}</td>
                        <td>{{art.status}}</td>
                        <td>{{art.op_data}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}