{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <!-- TITULO -->
    <h1 class="h3 mb-2 text-gray-800">Artistas</h1>
    <p class="mb-4">Você tem permissão para alterar os artistas.</p>
    <!-- Modal -->
    {% include 'utils/messages.html' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <div class="mb-3">
                        <form method="get" action="{% url 'r-artistas' %}">
                            <div class="col-6 mb-3">
                                <h6>Buscar pelo nome</h6>
                            </div>
                            <div class="col-6 mb-3">
                                <input type="text" value={{filter}} name="filter" class="form-control" placeholder="Buscar pelo nome">
                            </div>
                            <div class="col-6">
                                <button type="submit" name="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </form>
                    </div>

                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Integrantes</th>
                        <th>Genero</th>
                        <th>Status</th>
                        <th>Data Inclusão</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Integrantes</th>
                        <th>Genero</th>
                        <th>Status</th>
                        <th>Data Inclusão</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for art in page_obj %}
                    <tr>
                        <td><a href="{% url 'e-artistas' art.id %}">{{art.nome}}</a></td>
                        <td>{{art.integrantes}}</td>
                        <td>{{art.genero}}</td>
                        <td>{{art.status}}</td>
                        <td>{{art.op_data}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'paginacao.html' %}
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}