{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

    <!-- Titulo -->
    <h1 class="h3 mb-2 text-gray-800">Usuários</h1>
    <p class="mb-4">Você tem permissão para alterar os usuários.</p>
    <!-- Modal -->
    {% include 'utils/messages.html' %}

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <div class="mb-3">
                        <form method="get" action="{% url 'r-usuarios' %}">
                            <div class="col-6 mb-3">
                                <h6>Buscar pelo nome</h6>
                            </div>
                            <div class="col-6 mb-3">
                                <input type="text" value={{filter}} name="filter" class="form-control"
                                       placeholder="Buscar pelo nome">
                            </div>
                            <div class="col-6">
                                <button type="submit" name="submit" class="btn btn-primary">Buscar</button>
                            </div>
                        </form>
                    </div>

                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nascimento</th>
                        <th>Celular</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Nascimento</th>
                        <th>Celular</th>
                        <th>Status</th>
                    </tr>
                    </tfoot>

                    <tbody>
                    {% for u in page_obj %}
                    <tr>
                        <td><a href="{% url 'e-usuarios' u.id %}">{{u.first_name}} {{u.last_name}}</a></td>
                        <td>{{u.email}}</td>
                        <td>{{u.nascimento}}</td>
                        <td>{{u.celular}}</td>
                        <td>{{u.is_active}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'paginacao.html' %}
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock %}