{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Card Usuários -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'r-usuarios' %}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Usuários
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{usuarios_count}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <!-- Card Cifras -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'r-cifras' 'all' %}">
                <div class="card border-left-success shadow h-100 py-2">

                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Cifras
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{cifras_count}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-music fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <!-- Card Artistas -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'r-artistas' %}">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Artistas
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{artistas_count}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-male fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <!-- Card Acessos -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Acessos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">5.142 nA</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-mouse-pointer fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}