{% load static %}
<!-- Footer Start-->
<div class="footer-main" data-background="{% static 'img/shape/footer_bg.png' %}">
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">CNPJ 00123456/0001-23<br>São Carlos SP - Brasil</p>
                                    <p class="info2">contato@worshipcifras.com</p>
                                </div>
                            </div>
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/worshipcifras/" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Acesso rápido</h4>
                            <ul>
                                <li><a href="{% url 'cadastrar_cifra' %}">Enviar cifra</a></li>
                                <li><a href="{% url 'cadastrar_artista' %}">Enviar artista</a></li>
                                <li><a href="#">Top musicas</a></li>
                                <li><a href="#">Top artistas</a></li>
                                {% if user.is_anonymous %}
                                <li><a href="{% url 'register' %}">Criar conta</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Ajuda</h4>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos e condições</a></li>
                                <li><a href="#">Trabalhe conosco</a></li>
                                {% if user.is_anonymous %}
                                <li><a data-toggle="modal" data-target="#acesso-negado" href="#acesso-negado">Reportar um bug</a></li>
                                {% else %}
                                <li><a data-toggle="modal" data-target="#reportar-erro" href="#reportar-erro">Reportar um bug</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Novidades</h4>
                            <ul>
                                <li><a href="#">Newslatter</a></li>
                                <li><a href="#">Releases</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                Todos os direitos reservados | Worshipcifras.com.br
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->