<!-- Footer Start-->
<div class="footer-main" data-background="../static/img/shape/footer_bg.png">
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="../static/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">CNPJ 00123456/0001-23<br>São Carlos SP - Brasil</p>
                                    <p class="info2">contato@worshipcifras.com.br</p>
                                </div>
                            </div>
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Acesso rápido</h4>
                            <ul>
                                <li><a href="#">Enviar cifra</a></li>
                                <li><a href="#">Planos</a></li>
                                <li><a href="#">Top musicas</a></li>
                                <li><a href="#">Ranking</a></li>
                                <li><a href="#">Criar conta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Ajuda</h4>
                            <ul>
                                <li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos e condições</a></li>
                                <li><a href="#">Trabalhe conosco</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Reportar um bug</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Novidades</h4>
                            <ul>
                                <li><a href="#">Newslatter</a></li>
                                <li><a href="#">Vencedores do mês</a></li>
                                <li><a href="#">Comunidade</a></li>
                                <li><a href="#">Lançamentos</a></li>
                                <li><a href="#">Podcast</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom aera -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12 ">
                        <div class="footer-copy-right text-center">
                            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                Todos os direitos reservados | Worshipcifras.com.br
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->