{% load static %}
<header>
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'cadastrar_cifra' %}">Enviar cifra</a></li>
                                    <li><a href="blog.html">Planos</a>
                                        <ul class="submenu">
                                            <li><a href="#">Standard</a></li>
                                            <li><a href="#">Premium</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Ranking</a>
                                        <ul class="submenu">
                                            <li><a href="#">Músicas</a></li>
                                            <li><a href="#">Comunidade</a></li>
                                        </ul>
                                    </li>
                                    {% if user.is_anonymous %}
                                    <li><a href="{% url 'login' %}">Criar conta</a></li>
                                    {% else %}
                                    <li><a>Olá {{ user.get_full_name }}</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="header-right-btn f-right d-none d-lg-block">
                            {% if user.is_anonymous %}
                            <a href="{% url 'login' %}" class="btn header-btn">Entrar</a>
                            {% else %}
                            <a href="{% url 'logout' %}" class="btn header-btn">Sair</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>