{% load static %}
<header>
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <!-- Menu do usuário anonimo -->
                            {% if user.is_anonymous %}
                            <nav>
                                <ul id="navigation">
                                    <li><a data-toggle="modal" data-target="#acesso-negado" href="#acesso-negado">Enviar
                                        cifra</a></li>
                                    <li><a data-toggle="modal" data-target="#acesso-negado" href="#acesso-negado">Cadastrar
                                        artista</a></li>
                                    <li><a href="{% url 'login' %}">Entrar</a></li>
                                    <li><a href="{% url 'register' %}">Criar conta</a></li>
                                </ul>
                            </nav>
                            <!-- Menu do usuário logado -->
                            {% else %}
                            <nav>
                                <ul id="navigation">
                                    <li><a href="#">Enviar</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'cadastrar_cifra' %}">Cifra</a></li>
                                            <li><a href="{% url 'cadastrar_artista' %}">Artista</a></li>
                                        </ul>
                                    </li>
                                    <!--<li><a href="blog.html">Planos</a>
                                        <ul class="submenu">
                                            <li><a href="#">Standard</a></li>
                                            <li><a href="#">Premium</a></li>
                                        </ul>
                                    </li>-->
                                    <!--<li><a href="#">Ranking</a>
                                        <ul class="submenu">
                                            <li><a href="#">Músicas</a></li>
                                            <li><a href="#">Comunidade</a></li>
                                        </ul>
                                    </li>-->
                                    {% if user.wc_perfil_id == 1 or user.wc_perfil_id == 3 %}
                                    <li><a href="{% url 'staff' %}">Staff</a></li>
                                    {% endif %}
                                    <li><a href="#">Olá {{ user.get_full_name }}</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'meu-perfil' %}">Meu Perfil</a></li>
                                            <li><a href="{% url 'redefinir-senha' %}">Redefinir Senha</a></li>
                                            <!--<li><a href="{% url 'meu-perfil' %}">Geral</a></li>-->
                                            <!--<li><a href="{% url 'meu-perfil' %}">Planos</a></li>-->
                                            <!--<li><a href="{% url 'meu-perfil' %}">Quero entrar para a equipe</a></li>-->
                                            <!--<li><a href="#">Configurações</a></li>-->
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'logout' %}">Sair</a></li>

                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="header-right-btn f-right d-none d-lg-block">
                            {% if user.is_anonymous %}
                            <a href="{% url 'login' %}" class="btn header-btn">Entrar</a>
                            {% else %}
                            <a href="{% url 'logout' %}" class="btn header-btn">Sair</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br><br>
    <!-- Buscar Cifra start -->
    <form action="{% url 'index' %}" method="get">
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="mt-10">
                                <input type="text" id="buscar" name="buscar_n"
                                       placeholder="O que você vai tocar hoje?"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'O que você vai tocar hoje?'" class="single-input">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="button-group-area">
                                <button type="submit" class="genric-btn primary radius" id="btn_buscar"
                                        name="btn_buscar_n"><i class="fa fa-search"
                                                               aria-hidden="true"></i>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Buscar Cifra End -->

    <!-- Modal -->
    {% include 'utils/modals.html' %}
</header>