{% load static %}
<header>
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    {% if user.is_anonymous %}
                                    <li><a data-toggle="modal" data-target="#acesso-negado" href="#acesso-negado">Enviar
                                        cifra</a></li>
                                    <li><a data-toggle="modal" data-target="#acesso-negado" href="#acesso-negado">Cadastrar
                                        artista</a></li>
                                    {% else %}
                                    <li><a href="{% url 'cadastrar_cifra' %}">Enviar cifra</a></li>
                                    <li><a href="{% url 'cadastrar_artista' %}">Cadastrar artista</a></li>
                                    {% endif %}
                                    <!--<li><a href="blog.html">Planos</a>
                                        <ul class="submenu">
                                            <li><a href="#">Standard</a></li>
                                            <li><a href="#">Premium</a></li>
                                        </ul>
                                    </li>-->
                                    <li><a href="#">Ranking</a>
                                        <ul class="submenu">
                                            <li><a href="#">Músicas</a></li>
                                            <li><a href="#">Comunidade</a></li>
                                        </ul>
                                    </li>
                                    {% if user.wc_perfil_id == 1 or user.wc_perfil_id == 3 %}
                                    <li><a href="{% url 'staff' %}">WC Staff</a></li>
                                    {% endif %}


                                    {% if user.is_anonymous %}
                                    <li><a href="{% url 'register' %}">Criar conta</a></li>
                                    {% else %}
                                    <li><a>Olá {{ user.get_full_name }}</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="header-right-btn f-right d-none d-lg-block">
                            {% if user.is_anonymous %}
                            <a href="{% url 'login' %}" class="btn header-btn">Entrar</a>
                            {% else %}
                            <a href="{% url 'logout' %}" class="btn header-btn">Sair</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modals -->
    <!-- Acesso Negado -->
    <div class="modal fade" id="acesso-negado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ops, você precisa estar logado para acessar esta
                        funcionalidade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'register' %}" class="btn header-btn">Quero me registrar</a>
                    <a href="{% url 'login' %}" class="btn header-btn">Entrar agora</a>
                </div>
            </div>
        </div>
    </div>
</header>