<!-- Modals -->
<!-- Acesso Negado - Index -->
<div class="modal fade" id="acesso-negado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ops, você precisa estar logado para acessar esta
                    funcionalidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <a href="{% url 'register' %}" class="btn header-btn">Quero me registrar</a>
                <a href="{% url 'login' %}" class="btn header-btn">Entrar agora</a>
            </div>
        </div>
    </div>
</div>

<!-- Reportar um erro -->
<div class="modal fade" id="reportar-erro" tabindex="-1" role="dialog" aria-labelledby="reportarErro"
     aria-hidden="true">
    {% if artista.id and artista.nome %}
    <form action="{% url 'artista' artista.id artista.nome %}" method="post">
    {% else %}
    <form action="." method="post">
    {% endif %}
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportarErro">Conte-nos o que aconteceu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="mt-10">
                        <div class="single-input">
                            <input type="text" class="single-input"
                                   placeholder="{{user.get_full_name}} - {{user.email}}" disabled>
                        </div>
                    </div>
                    <div class="mt-10">
                        <div class="single-input">
                            {{formReport.titulo_erro}}
                        </div>
                    </div>
                    <div class="mt-10">
                        <div class="single-input">
                            {{formReport.descricao_erro}}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="report" class="btn header-btn">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Reportar um erro Staff -->
<div class="modal fade" id="reportar-erro-staff" tabindex="-1" role="dialog" aria-labelledby="reportarErro"
     aria-hidden="true">
    <form action="." method="post">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportarErroStaff">Conte-nos o que aconteceu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="container">
                            <input type="text" class="form-control"
                                   placeholder="{{user.get_full_name}} - {{user.email}}" disabled>
                        </div>
                    </div><br>
                    <div class="container">
                        <div class="container">
                            {{formReport.titulo_erro}}
                        </div>
                    </div><br>
                    <div class="container">
                        <div class="container">
                            {{formReport.descricao_erro}}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="report" class="btn btn-dark">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

