<div class="col-lg-3">
    <h3 class="mb-30">Menu</h3>
    <div class="col-lg-12">
        <div class="single-element-widget mt-30">
            <li><a href="#" style="color:#080F0F">Geral</a></li>
        </div>
        <div class="single-element-widget mt-30">
            <li><a href="{% url 'meu-perfil' %}" style="color:#080F0F">Meus dados</a></li>
        </div>
        <div class="single-element-widget mt-30">
            <li><a href="#" style="color:#080F0F">Planos</a></li>
        </div>
        <div class="single-element-widget mt-30">
            <li><a href="{% url 'redefinir-senha' %}" style="color:#080F0F">Redefinir Senha</a></li>
        </div>
        <div class="single-element-widget mt-30">
            <li><a href="#" style="color:#080F0F">Quero entrar para a equipe!</a></li>
        </div>
    </div>
</div>