<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | Meu Perfil</title>

</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<main>
    <br><br><br><br><br>

    <!-- Cabeçalho do Usuario -->
    <div class="have-project">
        <div class="container">
            <div class="haveAproject" data-background="{% static '/img/bg-destaque.png' %}">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>
                                {{user.get_full_name}}
                                <!--<i class="fa fa-check-circle"
                                   style="color: #22A545; font-size: 20px; vertical-align: top; margin-top: 12px"
                                   aria-hidden="true"></i>-->
                            </h2>
                            <p>Plano <strong>Free</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog_area single-post-area section-padding" style="margin-top: -100px">
        <div class="container">
            <div class="row">
                <!-- Menu do usuário-->
                {% include 'menu_lateral.html' %}

                <!-- Formularios -->
                <div class="col-lg-5 posts-list">
                    <form method="post">
                        {% csrf_token %}
                        <div class="single-post">
                            <div class="blog_details">

                                <ul class="blog-info-link mt-3 mb-4">
                                    <li><a href="#"><i class="fa fa-sun"></i> Mantenha o seu perfil atualizado, e
                                        concorra
                                        a super prêmios.</a></li>
                                    </li>
                                </ul>

                                <!-- Modal -->
                                {% include 'utils/messages.html' %}

                                <div class="mt-10">
                                    <label>Digite a sua senha atual</label>
                                    {{form.old_password}}
                                </div>
                                <div class="mt-10">
                                    <label>Digite sua nova senha</label>
                                    {{form.new_password}}
                                </div>
                                <div class="mt-10">
                                    <label>Confirme a sua nova senha</label>
                                    {{form.confirm_password}}
                                </div>

                                <div class="button-group-area mt-40">
                                    <button type="submit" class="genric-btn primary e-large">Redefinir senha</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <br><br>
                        <a data-toggle="modal" data-target="#reportar-erro" href="#reportar-erro"
                           style="color: #080F0F">Encontrou algum problema? Nos mande uma
                            mensagem.</a>
                    </div>

                </div>

                <!-- coluna direita -->
                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </section>
    <!--================ End =================-->

    <!-- Modal -->
    {% include 'utils/modals.html' %}

</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}

</body>
</html>