<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | Envie a sua cifra</title>

</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<main>

    <!-- Titulo -->
    <div class="have-project">
        <div class="container">
            <div class="haveAproject">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>Envie a sua cifra</h2>
                            <p>Contribua com a comunidade e concorra a super prêmios.</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                        <div class="wantToWork-btn f-right">
                            <a href="#" class="btn btn-ans">Tutorial</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- REGRAS DE ENVIO -->
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li><a href="#"><i class="fa fa-bookmark"></i> Leia as nossas regras para a
                                        publicação
                                        de cifras.</a></li>
                                </ul>
        </div>
    </div>

    <section class="blog_area single-post-area section-padding" style="margin-top: -100px">
        <form action="." method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <!-- Opções -->
                    <div class="col-lg-3">
                        <h3 class="mb-30">Opções</h3>
                        <div class="col-lg-12">
                            <div class="mt-30">
                                {{form.tom}}
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="mt-30">
                                {{form.capotraste}}
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="mt-30">
                                {{form.afinacao}}
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <div class="mt-30">
                                {{form.versao}}
                            </div>
                        </div>
                        <!--
                                                <div class="col-lg-12">
                                                    <div class="single-element-widget mt-30">
                                                        <button class="genric-btn primary radius" style=""><i class="fa fa-info-circle"
                                                                                                              aria-hidden="true"></i>
                                                            Ajuda
                                                        </button>
                                                    </div>
                                                </div>
                        -->
                    </div>

                    <!-- CIFRA -->
                    <div class="col-lg-5 posts-list">
                        <div class="single-post">
                            <div class="blog_details">
                                <!-- Modal -->
                                {% include 'utils/messages.html' %}

                                <!-- FORMULARIO DE ENVIO -->
                                <div class="mt-10">
                                    {{form.wc_artista}}
                                </div>
                                <datalist id="artista_auto_complete">
                                    {% for artista in artistas %}
                                    <option value="{{artista.nome}}"></option>
                                    {% endfor %}
                                </datalist>

                                <div class="mt-10">
                                    {{form.nome}}
                                </div>

                                <div class="mt-10">
                                    {{form.genero}}
                                </div>
                                <br>
                                <br>
                                <div class="mt-10">
                                    {{form.cifra}}
                                </div>

                                <div class="mt-10">
                                    {{form.detalhes}}
                                </div>

                                <div class="button-group-area mt-40">
                                    <button type="submit" class="genric-btn primary e-large">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <br><br>
                            <a data-toggle="modal" data-target="#reportar-erro" href="#reportar-erro"
                               style="color: #080F0F">Encontrou algum problema? Nos mande uma
                                mensagem.</a>
                        </div>
                    </div>


                    <!-- ULTIMOS ENVIOS / RANKING DE USUÁRIOS -->
                    <div class="col-lg-4">
                        <div class="col-lg-12">
                            <h5>Cifras adicionadas recentemente</h5><br>
                            {% for cifra in cifras_recentes %}
                            <a href="#">
                                <div>
                                    <h6>{{cifra.nome}}</h6>
                                    <p>{{cifra.wc_artista}}</p>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- .Artista Area end -->

    <!-- Modal -->
    {% include 'utils/modals.html' %}
</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}

</body>
</html>