<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | {{cifra.nome}} - {{cifra.wc_artista}}</title>

</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<main>
    <br><br><br><br><br>

    <!-- Cabeçalho da Cifra -->
    <div class="have-project">
        <div class="container">
            <div class="haveAproject" data-background="{% static '/img/bg-destaque.png' %}">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>
                                {{cifra.nome}}
                                <i class="fa fa-check-circle"
                                   style="color: #22A545; font-size: 20px; vertical-align: top; margin-top: 12px"
                                   aria-hidden="true"></i>
                            </h2>
                            <p>{{cifra.wc_artista}}</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                        <!--<i class="fa fa-heart" style="color: #A52422; font-size: 40px; margin-left:130px; margin-top: 8px"
                                   aria-hidden="true"></i>-->
                        <div class="wantToWork-btn f-right">
                            <a href="#" class="btn btn-ans">Ouvir agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="blog_area single-post-area section-padding" style="margin-top: -100px">
        <div class="container">
            <div class="row">
                <!-- Features -->
                <div class="col-lg-3">
                    <h3 class="mb-30">Features</h3>
                    <div class="col-lg-12">
                        <div class="single-element-widget mt-30">
                            <div class="default-select">
                                <select>
                                    <option selected>Tom original: {{cifra.tom}}</option>
                                    <option value="A">A</option>
                                    <option value="Bb">Bb</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="Db">Db</option>
                                    <option value="D">D</option>
                                    <option value="Eb">Eb</option>
                                    <option value="E">E</option>
                                    <option value="F">F</option>
                                    <option value="F#">F#</option>
                                    <option value="G">G</option>
                                    <option value="Ab">Ab</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="single-element-widget mt-30">
                            <div class="default-select">
                                <select>
                                    <option value="original" selected>{{cifra.capotraste}}</option>
                                    <option value="0">Sem capotraste</option>
                                    <option value="1">1º Casa</option>
                                    <option value="2">2º Casa</option>
                                    <option value="3">3º Casa</option>
                                    <option value="4">4º Casa</option>
                                    <option value="5">5º Casa</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="single-element-widget mt-30">
                            <div class="default-select">
                                <select>
                                    <option selected disabled>Modo</option>
                                    <option value="1">Cifra</option>
                                    <option value="2">Letra</option>
                                    <option value="3">Ao vivo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="single-element-widget mt-30">
                            <button class="genric-btn primary radius" style=""><i class="fa fa-download"
                                                                                  aria-hidden="true"></i>
                                Download
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="single-element-widget mt-30">
                            <button class="genric-btn primary radius" style=""><i class="fa fa-plus"
                                                                                  aria-hidden="true"></i>
                                Adicionar ao culto
                            </button>
                        </div>
                    </div>
                </div>

                <!-- cifra -->
                <div class="col-lg-5 posts-list">
                    <div class="single-post">
                        <div class="blog_details">

                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-heart"></i> 243k de curtidas</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 47 Comentários</a></li>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 17 Set 2021</a></li>
                            </ul>
                            <p class="excert" style="font-size: 18px">
                                {% for linha in cifra_exibicao%}
                                    {{linha}} <br>
                                {% endfor %}
                            </p>

                        </div>
                    </div>
                    <div>
                        <br><br>
                        <a href="#" style="color: #080F0F">Encontrou algum problema com a cifra? Nos mande uma mensagem.</a>
                    </div>
                    <div class="navigation-top">

                        <div class="comments-area">
                            <h4>03 Comentários</h4>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_1.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                Multiply sea night grass fourth day sea lesser rule open subdue female
                                                fill which them
                                                Blessed, give fill lesser bearing multiply sea night grass fourth day
                                                sea lesser
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">Oclinho</a>
                                                    </h5>
                                                    <p class="date">17 Set 2021 14h40</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_2.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                Multiply sea night grass fourth day sea lesser rule open subdue female
                                                fill which them
                                                Blessed, give fill lesser bearing multiply sea night grass fourth day
                                                sea lesser
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">Sorriso</a>
                                                    </h5>
                                                    <p class="date">17 Set 2021 14h40</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_3.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                Multiply sea night grass fourth day sea lesser rule open subdue female
                                                fill which them
                                                Blessed, give fill lesser bearing multiply sea night grass fourth day
                                                sea lesser
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">Barba</a>
                                                    </h5>
                                                    <p class="date">17 Set 2021 14h40</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h4>Deixe um comentário</h4>
                            <form class="form-contact comment_form" action="#" id="commentForm">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                        placeholder="Escreva seu comentário"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="name" id="name" type="text"
                                                   placeholder="Fulano (User Logado)">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="email" id="email" type="email"
                                                   placeholder="fula@gmail.com (User Logado)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Enviar
                                        comentário
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- detalhes da cifra -->
                <div class="col-lg-4">
                    <div class="col-lg-12" align="center">
                        <iframe width="auto" height="auto" src="https://www.youtube.com/embed/YnrN0o0lubM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-12">
                        <div class="quote-wrapper">
                            <div class="quotes">
                                Artista(s): {{cifra.wc_artista}} <br>
                                Compositor(es): nA <br>
                                Produtor(es): nA <br>
                                Músico(s): nA <br>
                                <br>
                                Tom original: {{cifra.tom}} <br>
                                Bpm (Tempo): nA <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Artista Area end =================-->
</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}

</body>
</html>