{% extends 'base-ministerio.html' %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ministerio.nome}}</h1>
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Gerar Relatório</a>-->
        </div>
    </div>
    <div class="container">
        <p>{{ministerio.descricao}}</p>
    </div>
    <!-- Modal Messages-->
    {% include 'utils/messages.html' %}
    <!-- Content Row -->
    <div class="row">

        <!-- Card Ministerios -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a data-toggle="modal" data-target="#novo-ministerio"
               href="#novo-ministerio" style="text-decoration: none">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-dark mb-1">
                                    Nova Escala
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card Membros -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'r-cifras' %}" style="text-decoration: none">
                <div class="card border-left-dark shadow h-100 py-2">

                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-dark mb-1">
                                    Membros
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-male fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>

        <!-- Card Setlist -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'r-artistas' %}" style="text-decoration: none">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-dark mb-1">Setlists
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-music fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- Card Chat -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a data-toggle="modal" data-target="#convidar-integrante"
               href="#convidar-integrante" style="text-decoration: none">
                <div class="card border-left-dark shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-dark mb-1">
                                    Chat
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% include 'modals-ministerio.html' %}

{% endblock %}