<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | Morada</title>

</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<main>
    <br><br><br><br><br>

    <!-- Banner Destaque Start -->
    <div class="have-project">
        <div class="container">
            <div class="haveAproject" data-background="{% static '/img/banner/newpage.png' %}">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>Morada <i class="fa fa-check-circle"
                                          style="color: green; font-size: 20px; vertical-align: top; margin-top: 12px"
                                          aria-hidden="true"></i></h2>
                            <div>
                                <p class="footer-artista">
                                    <a href="https://www.moradaoficial.com.br/" target="_blank"><i
                                            class="fa fa-globe"></i></a>
                                    <a href="https://www.facebook.com/ministeriomorada" target="_blank"><i
                                            class="fab fa-facebook-f" style="margin-left:10px"></i></a>
                                    <a href="https://www.instagram.com/moradaoficial/" target="_blank"><i
                                            class="fab fa-instagram" style="margin-left:10px"></i></a>
                                    <a href="https://twitter.com/moradaoficial" target="_blank"><i
                                            class="fab fa-twitter" style="margin-left:10px"></i></a>
                                    <!-- #BUG nao ta funcionando o icone do yt e spotify -->
                                    <a href="#"><i class="fa fa-youtube" style="margin-left:10px"></i></a>
                                    <a href="#"><i class="fa fa-spotify" style="margin-left:10px"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                        <div class="wantToWork-btn f-right">
                            <a href="#" class="btn btn-ans">Ouvir agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Destaque End -->

    <!--================ Artista Area =================-->
    <section class="blog_area single-post-area section-padding" style="margin-top: -100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <!--<div class="feature-img">
                           <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                        </div>-->
                        <div class="blog_details">
                            <h2>Conheça mais sobre o(a) Morada</h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-user"></i> Silva, Fulano da</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comentários</a></li>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> 17 Set 2021</a></li>
                            </ul>
                            <p class="excert">
                                O Morada é um ministério que tem por anseio “gritar nos telhados o que Deus tem
                                sussurrado em seus ouvidos”. Em pouco mais de oito anos, o ministério é impulsionado a
                                ir a lugares não apenas ser mais uma banda que toque músicas bonitas, divertidas e
                                emocionantes, mas, também, levar uma palavra de alinhamento entre o Céu e a Terra, afim
                                de que o coração de Deus seja alcançado, e aconteça uma transformação no coração de cada
                                pessoa. O maior desejo é que todos possam retornar ao seu lugar e estado de origem, o
                                que Deus planejou, antes da fundação do mundo... criados à imagem e semelhança do Pai,
                                íntimos do Seu coração!
                            </p>
                            <div class="quote-wrapper">
                                <div class="quotes">
                                    Integrantes: Fulano (Voz), Ciclano (Violão), Beltrano (Bateria), Silva (Guitarra),
                                    Souza (Baixo)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title">Gêneros</h4>
                                <ul class="list">
                                    <li>
                                        <a href="#">Worship</a>
                                    </li>
                                    <li>
                                        <a href="#">Poprock</a>
                                    </li>
                                    <li>
                                        <a href="#">Adoração</a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Top canções</h3>
                                <div class="media post_item">
                                    <img src="{% static '/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>Só Tú És Santo</h3>
                                        </a>
                                        <p>2019</p>
                                    </div>

                                    <img src="{% static '/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static '/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>Só Tú És Santo</h3>
                                        </a>
                                        <p>2019</p>
                                    </div>

                                    <img src="{% static '/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img src="{% static '/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>Só Tú És Santo</h3>
                                        </a>
                                        <p>2019</p>
                                    </div>

                                    <img src="{% static '/img/post/post_1.png' %}" alt="post">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>From life was you fish...</h3>
                                        </a>
                                        <p>January 12, 2019</p>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>


                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Fulano e
                                outras 31,412 pessoas curtiram isso</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><p class="like-info"><i class="fa fa-calendar" aria-hidden="true"></i> Há 1 ano</p>
                                </li>
                            </ul>
                        </div>
                        <div class="comments-area">
                            <h4>03 Comentários</h4>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_1.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                Multiply sea night grass fourth day sea lesser rule open subdue female
                                                fill which them
                                                Blessed, give fill lesser bearing multiply sea night grass fourth day
                                                sea lesser
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">Oclinho</a>
                                                    </h5>
                                                    <p class="date">17 Set 2021 14h40</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_2.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                Multiply sea night grass fourth day sea lesser rule open subdue female
                                                fill which them
                                                Blessed, give fill lesser bearing multiply sea night grass fourth day
                                                sea lesser
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">Sorriso</a>
                                                    </h5>
                                                    <p class="date">17 Set 2021 14h40</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_3.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                Multiply sea night grass fourth day sea lesser rule open subdue female
                                                fill which them
                                                Blessed, give fill lesser bearing multiply sea night grass fourth day
                                                sea lesser
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">Barba</a>
                                                    </h5>
                                                    <p class="date">17 Set 2021 14h40</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h4>Deixe um comentário</h4>
                            <form class="form-contact comment_form" action="#" id="commentForm">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                        placeholder="Escreva seu comentário"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="name" id="name" type="text"
                                                   placeholder="Fulano (User Logado)">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="email" id="email" type="email"
                                                   placeholder="fula@gmail.com (User Logado)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Enviar
                                        comentário
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Artista Area end =================-->
</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}

</body>
</html>