<!doctype html>
{% load static %}
{% load social_share %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | {{artista.nome}}</title>

</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<main>
    <br><br><br><br><br>

    <!-- Banner Capa -->
    <div class="have-project">
        <div class="container">
            {% if 1 == 1 %}
            <div class="haveAproject" data-background="{% static '/img/banner/newpage.png' %}">
            {% else %}
            <div class="haveAproject">
            {% endif %}
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>{{artista.nome}}
                                {% if artista.status == 'AV' %}
                                <i class="fa fa-check-circle"
                                          style="color: #22A545; font-size: 20px; vertical-align: top; margin-top: 12px"
                                          aria-hidden="true"></i>
                                {% endif %}
                            </h2>
                            <div>
                                <p class="footer-artista">
                                    <a href="{{artista.site}}" target="_blank"><i
                                            class="fa fa-globe"></i></a>
                                    <a href="{{artista.facebook}}" target="_blank"><i
                                            class="fab fa-facebook-f" style="margin-left:10px"></i></a>
                                    <a href="{{artista.outro_link}}" target="_blank"><i
                                            class="fab fa-instagram" style="margin-left:10px"></i></a>
                                    <a href="{{artista.twitter}}" target="_blank"><i
                                            class="fab fa-twitter" style="margin-left:10px"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                        <div class="wantToWork-btn f-right">
                            <a href="{{artista.spotify}}" target="_blank" class="btn btn-ans">Ouvir agora</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================ Artista Area =================-->
    <section class="blog_area single-post-area section-padding" style="margin-top: -100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <!--<div class="feature-img">
                           <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                        </div>-->
                        <div class="blog_details">
                            <h2>Conheça mais sobre o(a) {{artista.nome}}</h2>
                            <ul class="blog-info-link mt-3 mb-4">
                                <li><a href="#"><i class="fa fa-user"></i> {{artista.op_user}}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> {{comentarios.count}} Comentário(s)</a></li>
                                <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> {{artista.op_data}}</a></li>
                            </ul>
                            <p class="excert">
                                {{artista.descricao}}
                            </p>

                            <div class="quote-wrapper">
                                <div class="quotes">
                                    Integrantes: {{artista.integrantes}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="navigation-top">
                        <div class="comments-area">
                            <h4>{{comentarios.count}} Comentário(s)</h4>
                            {% for c in comentarios %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">

                                        <div class="thumb">
                                            <img src="{% static '/img/comment/comment_1.png' %}" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                                {{c.comentario}}
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">{{c.nome}}</a>
                                                    </h5>
                                                    <p class="date">{{c.dt_inclusao}}</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <!-- ICONES DE LIKES NO COMENTARIO -->
                                                    <!--<a href="#" class="btn-reply text-uppercase">reply</a>-->
                                                    <!--<p class="like-info"><span class="align-middle"><i
                                                            class="fa fa-heart"></i></span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="comment-form">
                            {% if user.is_anonymous %}
                            <h4><a href="{% url 'login' %}">Entre</a> ou <a href="{% url 'register' %}">registre-se</a>
                                para deixar um comentário.</h4>
                            {% else %}
                            <h4>Deixe um comentário</h4>
                            <form class="form-contact comment_form"
                                  action="{% url 'artista' artista.id artista.nome %}"
                                  method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            {{form.comentario}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="name" id="name" type="text"
                                                   placeholder="{{user.get_full_name}}" value="{{user.get_full_name}}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input class="form-control" name="email" id="email" type="email"
                                                   placeholder="{{user.email}}" value="{{user.email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Enviar
                                        comentário
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="col-lg-12">
                        <!-- GENEROS -->
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title">Gêneros</h4>
                                <ul class="list">
                                    {% for g in generos %}
                                    <li>
                                        <a href="#">{{g}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </aside>

                            <!-- TOP MUSICAS -->
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Top canções</h3>
                                {% for cancao in cancoes %}
                                <div class="media post_item">
                                    <div class="media-body">
                                        <a href="{% url 'cifras_busca' cancao.wc_artista cancao.id cancao.nome %}">
                                            <h3>{{cancao.nome}}</h3>
                                        </a>
                                        <p>{{cancao.wc_artista}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                                <br><a href="#" style="color: #080F0F">Ver todas ..</a>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ Artista Area end =================-->
</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}

</body>
</html>