<!doctype html>
{% load static %}
{% load user_agents %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | Busque a excêlencia para o seu momento de adoração</title>
</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<!-- Corpo da página -->
<main>

    <div class="container">
        <!-- MENSAGENS DE RETORNO -->
        {% include 'utils/messages.html' %}
    </div>

    <!-- Apresentation Area Start -->
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                 data-background="{% static 'img/hero/h1_hero.png' %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-9 ">
                            <div class="hero__caption">
                                {% if user.is_anonymous %}
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Worship Cifras</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Busque a excelência para o seu momento
                                    de adoração. O
                                    WCifras foi pensado exclusivamente para você e para o seu ministério. Crie uma conta
                                    e aproveite os recursos que irá auxiliar na sua performance ao vivo e no secreto. E
                                    o melhor, é grátis.</p>
                                <!-- Botão entrar -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="{% url 'login' %}" class="btn hero-btn">Entrar</a>
                                </div>
                                <br />
                                <br />
                                {% else %}
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Worship Cifras</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Estamos em fase Beta do WCifras, por
                                    isso temos uma imensidão de novidades que não vemos a hora de apresentar a você.
                                    Caso encontre algum problema, ou tenha alguma ideia genial,
                                    <a data-toggle="modal" data-target="#reportar-erro" href="#reportar-erro"
                                       style="color: #A52422;">nos avise</a>,
                                    isto é o que nos torna a comunidade tão incrível.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .Apresentation Area End-->

    {% if request.user_agent.is_mobile %}
    <!-- Banners Cards -->
    {% if card_destaque %}
    <div class="testimonial-area">
        <div class="container">
            <div class="testimonial-main">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-md-9">
                        <div class="h1-testimonial-active">
                            {% for c in card_destaque %}
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <a href="{{c.link}}"
                                           target="_blank">
                                            <div class="card-playlist-image">
                                                <img src="{{c.imagem.url}}"
                                                     alt="Card Image">
                                            </div>
                                            <div class="card-playlist-text">
                                                <h2>{{c.titulo}}</h2>
                                                <p>{{c.descricao}}</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}<!-- .Banners Cards -->
    {% endif %}<!-- .Validando dispositivo -->
    <br/>
    <br/>

    <section class="blog_area single-post-area">
        <div class="container">
            <div class="row">
                <!-- Top cifras -->
                <div class="col-lg-5">
                    <div class="section-ranking">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5  col-md-8 pr-0">
                                <div class="section-tittle">
                                    <h2>Top Canções</h2>
                                </div>
                            </div>
                        </div>
                        <ul class="ranking-inner">
                            {% for cifra in top_cifras %}
                            <li>
                                <a href=""
                                   class="ranking-item">
                                    <div class="counter">
                                        <h1>{{forloop.counter}}º</h1>
                                    </div>
                                    <div class="value">
                                        <h5> {{cifra.wc_cifra.nome}}</h5>
                                        <p> {{cifra.wc_cifra.wc_artista}}</p>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="post_item">
                            <div class="media-body" style="margin-left: 5px; margin-top: 10px;">
                                <a href="#"><p> Ver mais <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Top Artistas -->
                <div class="col-lg-6">
                    <div class="section-ranking">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-5  col-md-8 pr-0">
                                <div class="section-tittle">
                                    <h2>Top Artistas</h2>
                                </div>
                            </div>
                        </div>
                        <ul class="ranking-inner">
                            {% for artista in top_artistas %}
                            <li>
                                <a href="{% url 'artista' artista.wc_artista.id artista.wc_artista.nome %}"
                                   class="ranking-item">
                                    <div class="counter">
                                        <h1>{{forloop.counter}}º</h1>
                                    </div>
                                    <div class="value">
                                        <h5> {{artista.wc_artista.nome}}</h5>
                                        <p> {{artista.wc_artista.genero}}</p>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="post_item">
                            <div class="media-body" style="margin-left: 5px; margin-top: 10px;">
                                <a href="#"><p> Ver mais <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testemunhos dos Clientes -->
    <div class="testimonial-area">
        <div class="container">
            <div class="testimonial-main">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5  col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Feedbacks</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Somos em 5 no misniterio de louvor e fazer parte do WCifras nos possibilitou
                                            organizar com facilidade a escolha e sequência de musicas para cada culto,
                                            com ordem e planejamento para as atividades da igreja. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'img/testmonial/testimonial1.png' %}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Janaiana Monsanto</span>
                                            <p>Igreja Batista Avivamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Faço parte do ministerio de louvor e sempre sentimos falta de uma fonte com
                                            variedades e concentração de cifras com foco cristão e esruturada para
                                            nossas necessidades ministeriais. Aqui encontramos o local perfeito,
                                            pensado para nós, elaborado com tudo que precisamos. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'img/testmonial/testimonial2.png' %}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Felipe Rodrigues</span>
                                            <p>Assembléia de Deus - Madureira</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}
</body>
</html>