<!doctype html>
{% load static %}
{% load user_agents %}
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | Busque a excêlencia para o seu momento de adoração</title>
</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<!-- Corpo da página -->
<main>

    <div class="container">
        <!-- MENSAGENS DE RETORNO -->
        {% include 'utils/messages.html' %}
    </div>

    <!-- Apresentation Area Start -->
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                 data-background="{% static 'img/hero/h1_hero.png' %}">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-9 ">
                            <div class="hero__caption">
                                {% if user.is_anonymous %}
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Worship Cifras</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Busque a excelência para o seu momento
                                    de adoração. O
                                    WCifras foi pensado exclusivamente para você e para o seu ministério. Crie uma conta
                                    e aproveite os recursos que irá auxiliar na sua performance ao vivo e no secreto. E
                                    o melhor, é grátis.</p>
                                <!-- Botão entrar -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="{% url 'login' %}" class="btn hero-btn">Entrar</a>
                                </div>
                                {% else %}
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Worship Cifras</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Estamos em fase Beta do WCifras, por
                                    isso temos uma imensidão de novidades que não vemos a hora de apresentar a você.
                                    Caso encontre algum problema, ou tenha alguma ideia genial,
                                    <a data-toggle="modal" data-target="#reportar-erro" href="#reportar-erro" style="color: #A52422;">nos avise</a>,
                                        isto é o que nos torna a comunidade tão incrível.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .Apresentation Area End-->

    <!-- Banners Cards -->
    {% if card_destaque %}
    <div>
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide carousel-margin-top" data-bs-interval="false" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for c in card_destaque %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                    {% endif %}
                        <a href="{{c.link}}" target="_blank">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{c.imagem.url}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{c.titulo}}</h5>
                                <p class="card-text">{{c.descricao}}</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>
    </div>
    {% endif %}<!-- .Banners Cards -->
    <br />
    <br />

        <div class="container">
            <div class="section-tittle">
                <h2>Playlists em alta</h2>
            </div>
            <div class="playlist">
                <div class="playlist-carousel">
                    <div class="card-playlist">
                        <a href="https://open.spotify.com/playlist/1RvdNqWn7eKFXtooghGPHx?si=d8f54f7ecd6f4a8e"
                           target="_blank">
                            <div class="card-playlist-image">
                                <img src="https://i.scdn.co/image/ab67706c0000da847eeadf5ec17b5a8b65698237"
                                     alt="Card Image">
                            </div>
                            <div class="card-playlist-text">
                                <h2>Gospel Acústico</h2>
                                <p>Mais tocadas do gospél acústico</p>
                            </div>
                            <div class="card-playlist-play-icon">
                                <div class="card-playlist-icon-circle">
                                    <div class="card-playlist-icon-triangle"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-playlist">
                        <a href="https://open.spotify.com/playlist/1RvdNqWn7eKFXtooghGPHx?si=d8f54f7ecd6f4a8e"
                           target="_blank">
                            <div class="card-playlist-image">
                                <img src="https://i.scdn.co/image/ab67706c0000da847eeadf5ec17b5a8b65698237"
                                     alt="Card Image">
                            </div>
                            <div class="card-playlist-text">
                                <h2>Gospel Acústico</h2>
                                <p>Mais tocadas do gospél acústico</p>
                            </div>
                            <div class="card-playlist-play-icon">
                                <div class="card-playlist-icon-circle">
                                    <div class="card-playlist-icon-triangle"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-playlist">
                        <a href="https://open.spotify.com/playlist/1RvdNqWn7eKFXtooghGPHx?si=d8f54f7ecd6f4a8e"
                           target="_blank">
                            <div class="card-playlist-image">
                                <img src="https://i.scdn.co/image/ab67706c0000da847eeadf5ec17b5a8b65698237"
                                     alt="Card Image">
                            </div>
                            <div class="card-playlist-text">
                                <h2>Gospel Acústico</h2>
                                <p>Mais tocadas do gospél acústico</p>
                            </div>
                            <div class="card-playlist-play-icon">
                                <div class="card-playlist-icon-circle">
                                    <div class="card-playlist-icon-triangle"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-playlist">
                        <a href="https://open.spotify.com/playlist/1RvdNqWn7eKFXtooghGPHx?si=d8f54f7ecd6f4a8e"
                           target="_blank">
                            <div class="card-playlist-image">
                                <img src="https://i.scdn.co/image/ab67706c0000da847eeadf5ec17b5a8b65698237"
                                     alt="Card Image">
                            </div>
                            <div class="card-playlist-text">
                                <h2>Gospel Acústico</h2>
                                <p>Mais tocadas do gospél acústico</p>
                            </div>
                            <div class="card-playlist-play-icon">
                                <div class="card-playlist-icon-circle">
                                    <div class="card-playlist-icon-triangle"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-playlist">
                        <a href="https://open.spotify.com/playlist/1RvdNqWn7eKFXtooghGPHx?si=d8f54f7ecd6f4a8e"
                           target="_blank">
                            <div class="card-playlist-image">
                                <img src="https://i.scdn.co/image/ab67706c0000da847eeadf5ec17b5a8b65698237"
                                     alt="Card Image">
                            </div>
                            <div class="card-playlist-text">
                                <h2>Gospel Acústico</h2>
                                <p>Mais tocadas do gospél acústico</p>
                            </div>
                            <div class="card-playlist-play-icon">
                                <div class="card-playlist-icon-circle">
                                    <div class="card-playlist-icon-triangle"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-playlist">
                        <a href="https://open.spotify.com/playlist/1RvdNqWn7eKFXtooghGPHx?si=d8f54f7ecd6f4a8e"
                           target="_blank">
                            <div class="card-playlist-image">
                                <img src="https://i.scdn.co/image/ab67706c0000da847eeadf5ec17b5a8b65698237"
                                     alt="Card Image">
                            </div>
                            <div class="card-playlist-text">
                                <h2>Gospel Acústico</h2>
                                <p>Mais tocadas do gospél acústico</p>
                            </div>
                            <div class="card-playlist-play-icon">
                                <div class="card-playlist-icon-circle">
                                    <div class="card-playlist-icon-triangle"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <section class="blog_area single-post-area">
            <div class="container">
                <div class="row">
                    <!-- Top cifras -->
                    <div class="col-lg-5">
                        <div class="section-ranking">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-5  col-md-8 pr-0">
                                    <div class="section-tittle">
                                        <h2>Top Canções</h2>
                                    </div>
                                </div>
                            </div>
                            <ul class="ranking-inner">
                                {% for cifra in top_cifras %}
                                <li>
                                    <a href="{% url 'cifras_busca' cifra.wc_cifra.wc_artista cifra.id cifra.wc_cifra.nome %}" class="ranking-item">
                                        <div class="counter">
                                            <h1>{{forloop.counter}}º</h1>
                                        </div>
                                        <div class="value">
                                            <h5> {{cifra.wc_cifra.nome}}</h5>
                                            <p> {{cifra.wc_cifra.wc_artista}}</p>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="post_item">
                                <div class="media-body" style="margin-left: 5px; margin-top: 10px;">
                                    <a href="#"><p> Ver mais <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Top Artistas -->
                    <div class="col-lg-6">
                        <div class="section-ranking">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-5  col-md-8 pr-0">
                                    <div class="section-tittle">
                                        <h2>Top Artistas</h2>
                                    </div>
                                </div>
                            </div>
                            <ul class="ranking-inner">
                                {% for artista in top_artistas %}
                                <li>
                                    <a href="{% url 'artista' artista.wc_artista.id artista.wc_artista.nome %}" class="ranking-item">
                                        <div class="counter">
                                            <h1>{{forloop.counter}}º</h1>
                                        </div>
                                        <div class="value">
                                            <h5> {{artista.wc_artista.nome}}</h5>
                                            <p> {{artista.wc_artista.genero}}</p>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="post_item">
                                <div class="media-body" style="margin-left: 5px; margin-top: 10px;">
                                    <a href="#"><p> Ver mais <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testemunhos dos Clientes -->
    <div class="testimonial-area">
        <div class="container">
            <div class="testimonial-main">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5  col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Feedbacks</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Somos em 5 no misniterio de louvor e fazer parte do WCifras nos possibilitou
                                            organizar com facilidade a escolha e sequência de musicas para cada culto,
                                            com ordem e planejamento para as atividades da igreja. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'img/testmonial/testimonial1.png' %}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Janaiana Monsanto</span>
                                            <p>Igreja Batista Avivamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Faço parte do ministerio de louvor e sempre sentimos falta de uma fonte com
                                            variedades e concentração de cifras com foco cristão e esruturada para
                                            nossas necessidades ministeriais. Aqui encontramos o local perfeito,
                                            pensado para nós, elaborado com tudo que precisamos. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'img/testmonial/testimonial2.png' %}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Felipe Rodrigues</span>
                                            <p>Assembléia de Deus - Madureira</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mensagens de Retorno -->

</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}
</body>
</html>