<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% include 'utils/head.html' %}

    <title>Worship Cifras | Seja bem vindo</title>
</head>

<body>

<!-- Preloader Start -->
{% include 'utils/preloader.html' %}
<!-- Menu Header Start -->
{% include 'utils/menu.html' %}

<!-- Corpo da página -->
<main>
    <br><br><br><br><br>
    <!-- Buscar Cifra start -->
    <form action="" id="" method="get">
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="mt-10">
                                <input type="text" list="cifras_auto_complete" id="buscar" name="buscar_n" placeholder="O que você vai tocar hoje?"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'O que você vai tocar hoje?'" class="single-input">
                                <!-- Retornando a lista de cifras, para autocompletar a busca -->
                                <datalist id="cifras_auto_complete">
                                    {% for cifra in cifras %}
                                        <option value="{{cifra.nome}} - {{cifra.wc_artista}}" ></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="button-group-area">
                                <button type="submit" class="genric-btn primary radius" id="btn_buscar" name="btn_buscar_n"><i class="fa fa-search"
                                                                                           aria-hidden="true"></i>
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Buscar Cifra End -->

    <!-- Banner Destaque Start -->
    <div class="have-project">
        <div class="container">
            <div class="haveAproject" data-background="../static/img/team/have.jpg">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-7 col-lg-9 col-md-12">
                        <div class="wantToWork-caption">
                            <h2>Lançamento</h2>
                            <p>Ouça agora o novo single do ministério Hillsong. *ADS AREA*</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-3 col-md-12">
                        <div class="wantToWork-btn f-right">
                            <a href="#" class="btn btn-ans">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Banner Destaque End -->

    <!-- Slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                 data-background="../static/img/hero/h1_hero.png" style="margin-top: -100px">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Worship Cifras</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">Eleve a qualidade do seu ministério. O
                                    WCifras foi pensado exclusivamente para você e para o seu ministério. Crie uma conta
                                    e aproveite os recursos que irá auxiliar na sua performance ao vivo e no secreto. E
                                    o melhor, é grát.</p>
                                <!-- Botão entrar -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="{% url 'login' %}" class="btn hero-btn">Entrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                <img src="" alt=""><!--../static/img/hero/hero_right.png -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->

    <!-- Top cifras -->
    <div class="whole-wrap" style="margin-top: -130px">
        <div class="container box_1170">
            <div class="section-top-border">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5  col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Top canções</h2>
                        </div>
                    </div>
                </div>
                <!-- Retornando top cifras da base de dados -->
                {% for cifra in top_cifras %}
                <div class="media post_item" style="background-color: #fcfbfd;">
                    <h1>{{forloop.counter}}º</h1>
                    <!--<img src="../static/img/post/post_1.png" alt="post" style="margin-left: 5px">-->
                    <div class="media-body" style="margin-left: 5px;">
                        <a href="#"><h5> {{cifra.nome}}</h5></a>
                        <p style="margin-top: -10px"> {{cifra.wc_artista}}</p>
                    </div>
                </div>
                {% endfor %}

                <div class="media post_item" style="background-color: #fcfbfd;">
                    <div class="media-body" style="margin-left: 5px; margin-top: 10px;">
                        <a href="#"><p> Ver mais <i class="fa fa-arrow-right" aria-hidden="true"></i></p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testemunhos dos Clientes -->
    <div class="testimonial-area">
        <div class="container">
            <div class="testimonial-main">
                <!-- Section-tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-5  col-md-8 pr-0">
                        <div class="section-tittle text-center">
                            <h2>Feedbacks</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="../static/img/testmonial/testimonial.png" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Fulana da silva</span>
                                            <p>Igreja Batista Avivamento</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                            ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                            facilisis. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="../static/img/testmonial/testimonial.png" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Ciclana de Souza</span>
                                            <p>Líder Ministério de Louvor</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <!-- Footer -->
    {% include 'utils/footer.html' %}
</footer>

<!-- Javascript -->
{% include 'utils/js.html' %}
</body>
</html>