<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <!-- META, CSS -->
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="manifest" href="{% static 'site.webmanifest' %}">-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/wcicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- JQUERY + AJAX BUSCA COM AUTOCOMPLETE-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <title>Worship Cifras | Acesso antecipado</title>
</head>

<body>

<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'img/logo/logo.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Menu Header Start -->
<header>
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="#">Versão. Pré-alfa V1.0.0</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5">
                        <div class="header-right-btn f-right d-none d-lg-block">
                            <a href="https://forms.gle/mM1WUYWmTN7vsQL46" target="_blank" class="btn header-btn">Quero receber o acesso antecipado</a>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Corpo da página -->
<main>
    <br><br><br><br><br>
    <!-- Slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                 data-background="../static/img/hero/h1_hero.png" style="margin-top: -100px">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 col-md-9 ">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay=".4s">Worship Cifras</h1>
                                <p data-animation="fadeInLeft" data-delay=".6s">O Worship Cifras foi pensado exclusivamente
                                    para você e para o seu ministério.
                                    Aqui você encontrará um enorme acervo de cifras cristãs, e uma comunidade incrível
                                    que te guiará para elevar o seu ministério a um nível superior de qualidade e
                                    organização. Estamos construindo tudo com muito carinho, e o melhor, é grátis. Quer
                                    nos ajudar nesta missão e ainda garantir um acesso antecipado ao Worship Cifras?</p>
                                <!-- Botão entrar -->
                                <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                    <a href="https://forms.gle/mM1WUYWmTN7vsQL46" target="_blank" class="btn hero-btn">Eu Quero!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                <img src="" alt=""><!--../static/img/hero/hero_right.png -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Area End-->

    <!-- Detalhes Start -->
    <div class="generating-area visite-padding2" style="margin-top:-20px;">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center">
                        <h2>Excelência, é o nosso propósito</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="flaticon-chart"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Enorme acervo de cifras</h4>
                            <p>Junto a nossa comunidade, estamos partindo para um dos maiores acervos de cifras cristãs
                                do país. Desde as novas canções, até as mais clássicas, o Worship Cifras tem!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="flaticon-social-media-marketing"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Uma comunidade incrível</h4>
                            <p>Você é, e você faz o Worship Cifras. Nossa comunidade é quem dita o que somos e o que
                                seremos. Estamos sempre disponíveis, e atentos para entender e responder as necessidades
                                da comunidade. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="flaticon-speaker"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Sem anúncios chatos</h4>
                            <p>Sabe aqueles memes em que toca um anúncio no meio do culto? (rs) Aqui você não terá este
                                problema. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-icon">
                            <span class="flaticon-growth"></span>
                        </div>
                        <div class="generating-cap">
                            <h4>Evolução contínua</h4>
                            <p>Estamos em constante movimento, e sempre comunicaremos você quando uma nova atualização
                                estiver prevista no Worship Cifras. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="single-generating d-flex mb-30">
                        <div class="generating-cap">
                            <p>Quer receber o acesso antecipado, quando o Worship Cifras for lançado?</p>
                            <a href="https://forms.gle/mM1WUYWmTN7vsQL46" target="_blank" class="btn hero-btn">Eu quero</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Detalhes End -->

</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-main" data-background="{% static 'img/shape/footer_bg.png' %}">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <!--<p class="info1">CNPJ 00123456/0001-23<br>São Carlos SP - Brasil</p>-->
                                        <p class="info1">São Carlos SP - Brasil</p>
                                        <p class="info2">contato@worshipcifras.com.br</p>
                                    </div>
                                </div>
                                <div class="footer-social">
                                    <a href="https://www.facebook.com/worshipcifras" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/worshipcifras/" target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                    <a href="https://twitter.com/CifrasWorship" target="_blank"><i
                                            class="fab fa-twitter"></i></a>
                                    <!--<a href="#"><i class="fab fa-linkedin"></i></a>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Novidades</h4>
                                <ul>
                                    <!--<li><a href="#">Newslatter</a></li>-->
                                    <li><a href="#">Releases - V1.0.0 (Pré-alfa)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    Todos os direitos reservados | Worshipcifras.com.br
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- All JS Custom Plugins Link Here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<!-- Jquery Mask - Igor Escobar-->
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<!-- Mascaras para os formularios -->
<script src="{% static 'js/mascaras-usuario.js' %}"></script>

<!-- Jquery + AJAX Busca com autocomplete -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#buscar" ).autocomplete({
      source: '{% url 'index' %}',
      minLength: 2
    });
  } );






</script>
</body>
</html>